# Mapbox token — obtenez le vôtre sur https://account.mapbox.com/
VITE_MAPBOX_TOKEN=pk.eyJ1IjoibW9vdmlqb2IiLCJhIjoiY2tuenYyZGI4MDltYzJwbXZwNTV5eWNobCJ9.NvAh02Q732tcCkLM7DJywg

VITE_GOOGLE_CLIENT_ID=xxx